@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.1s all;
}

html,
body {
  font-family: 'Titillium Web';
  font-weight: 500;
  font-size: 0.95rem;
  max-width: 100vw;
  overflow-x: hidden;
}
